#call
  text-align: center

#call .loading-animation
  position: absolute
  top: 150px
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto

#call .loading-animation > p
  color: #009688

#call .video
  position: relative
  background: #000
  min-height: 400px
  max-height: calc(100% - 200px)

#call .video-remote
  width: 100%

#call .video-local
  position: absolute
  right: 15px
  bottom: 10px
  width: 120px

#call .control-buttons
  position: absolute
  bottom: 10px
  width: 100%

#call .control-buttons > button
  margin: 5px

#call .appointment-info
  padding: 10px
  align-items: center

#call .appointment-info img
  width: 40px
  height: 40px
  border-radius: 50%
  margin-right: 15px

#chat
  max-width: 400px
  border-left: 1px solid #ccc

#chat > form
  padding: 0 10px 5px 10px
