<md-card>
  <md-card-title>Analytics</md-card-title>

  <md-spinner *ngIf="loading" class="load-more-spinner"></md-spinner>
  <div *ngIf="users" class="analytics-list">
    <md-card>
      <md-card-title>{{users.count}}</md-card-title>
      <md-card-subtitle>accounts</md-card-subtitle>
    </md-card>

    <md-card>
      <md-card-title>{{users.admins.length}}</md-card-title>
      <md-card-subtitle>admins</md-card-subtitle>
    </md-card>

    <md-card>
      <md-card-title>{{users.suspended.length}}</md-card-title>
      <md-card-subtitle>suspended</md-card-subtitle>
    </md-card>

    <md-card>
      <md-card-title>{{users.inactive}}</md-card-title>
      <md-card-subtitle title="Haven't logged in since 90 days">inactive*</md-card-subtitle>
    </md-card>
  </div>

  <div>
    <h3>Admin Accounts</h3>
    <md-list *ngIf="users">
      <a *ngFor="let user of users.admins" class="online-row" [routerLink]="['/profile', user._id]">
        <md-list-item>
          <img
            md-list-avatar
            avatar
            meditated-recently
            [user]="user"
            [hash]="user.gravatarHash"
            [size]="40"
          >
          <h3 md-line>
            <b>{{ user.name }}</b>
            <flag [countryCode]="user.country"></flag>
          </h3>
        </md-list-item>
      </a>
    </md-list>
    <div *ngIf="!users || !users.suspended">There are none</div>

    <h3>Suspended Accounts</h3>
    <md-list *ngIf="users">
      <a *ngFor="let user of users.suspended" class="online-row" [routerLink]="['/profile', user._id]">
        <md-list-item>
          <img
            md-list-avatar
            avatar
            meditated-recently
            [user]="user"
            [hash]="user.gravatarHash"
            [size]="40"
          >
          <h3 md-line>
            <b>{{ user.name }}</b>
            <flag [countryCode]="user.country"></flag>
          </h3>
        </md-list-item>
      </a>
    </md-list>
    <div *ngIf="!users || !users.suspended">There are none</div>
  </div>

  <div>
    <h3>Top Timezones</h3>


    <div class="timezone-chart">
      <canvas
        baseChart
        [data]="timezoneChart.data"
        [labels]="timezoneChart.labels"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
        *ngIf="timezoneChart.isReady"
        >
      </canvas>
    </div>


  </div>
</md-card>
